{extend name="public/base" /}
{block name="title"}
    用户中心
{/block}
{block name="js"}
    <script>
        $(function(){
            var str = $('#content').text();
            var str1 = $('#content').text().trim();
            if(str.length > 60){
                str1 = str1.substr(0,60-3) + "......";
                $('#content').text(str1);
            }
        });

    </script>
{/block}
{block name="style"}
    <style>
        .user_center_con{
            width: 1200px;
            margin: 20px auto 0;
            height: 800px;
        }

        .user_center_left{
            padding: 10px;
            width: 240px;
            float: left;
            border-radius: 5px;
            border: 1px solid #D1D1D1;
        }

        .user_center_right{
            width: 900px;
            float: right;
            border: 1px solid #D1D1D1;
            border-radius: 5px;
        }
        .user_photo{
            width: 220px;
            height: 220px;
            margin: 20px auto 0;
            border-radius: 10px;
            overflow: hidden;
        }
        .pagination{
            font-size: 18px;

        }

        .pagination span{
            margin-right: 10px;
        }
        .pagination .active{
            font-size: 23px;
            color: #FF83FA;
        }
    </style>
{/block}
{block name="content"}
<div class="user_center_con">
    <div class="user_center_left">
        <div class="user_photo">
            <img style="display: block;width: 100%;height: 100%" src="/uploads/{$user_info.photo.path}" alt="头像" >
        </div>
        <div class="user_name" style="font-size: 28px;margin-top: 30px;text-align: center;">
            {$user_info['username']}
        </div>
        <div class="user_nickname" style="margin-top: 20px;" >
            昵称：<span>{$user_info.username}</span>
        </div>
        <div class="user_sex">
            性别：<span>{if $user_info.sex == 1}男{elseif $user_info.sex == 0}女 {else}保密{/if}</span>
        </div>
        <div class="user_signature" style="margin-bottom: 15px;">
            {$user_info.signature}
        </div>
        <hr>
        <div class="user_home" style="margin-top: 15px;">
            <span class="layui-icon layui-icon-username"><span style="font-size: 13px;"> <a href="{$user_info.id}">我的小窝</a></span></span>
        </div>
        <div class="user_center_center">
            <span class="layui-icon layui-icon-read"><span style="font-size: 13px;"> <a href="#">个人日记</a></span></span>
        </div>
        <div class="user_center_setting" style="margin-bottom: 15px;">
            <span class="layui-icon layui-icon-set"><span style="font-size: 13px;"> <a href="{:url('index/home/pset',['id'=>$user_info.id])}">个人设置</a></span></span>
        </div>
        <hr>
        <div class="user_center_createtime">
            <span class="layui-icon layui-icon-time"><span style="font-size: 13px;"> 加入时间：{$user_info.create_time}</span></span>
        </div>
    </div>

    <div class="user_center_right">
        <div class="user_center_righttitle" style="height: 35px;">
            <span class="layui-icon layui-icon-down" style="font-size: 12px;line-height: 35px;margin-left: 20px;"><span style="font-size: 13px;"> &nbsp;日记本</span></span>
        </div>
        <hr>
        <ul>
            {volist name="records" id="re"}
            <li style="height: 90px;border-bottom: 1px solid #fff;">
                <div class="record_title" style="height: 50px;line-height: 50px;font-size: 16px;text-indent: 30px;">
                    <a href="{:url('index/home/detail',['rid'=>$re.id])}" id="content">{$re.content|rep1|rep2|raw}</a>
                </div>
                <div class="record_time">
                        <span class="layui-icon layui-icon-dialogue" style="font-size: 12px;margin-left: 20px;">
                            <span style="font-size: 12px;">{$re.create_time} · {$re.title}</span>
                        </span>
                </div>
                <hr>
            </li>
            {/volist}

            <div class="page" style="text-align: center">
                {$records->render()|replace|raw}
            </div>
        </ul>
    </div>
</div>
{/block}


