{extend name="public/base" /}
{block name="title"}
    写日记
{/block}
{block name="style"}
    <style>

        .write_con{
            width: 800px;
            margin: 0 auto 0;
        }

        .write_head{
            font-size: 30px;
            font-weight: bold;
            color: cornflowerblue;
            height: 90px;
            text-align: left;
            line-height: 90px;

        }
        .write_title{
            margin-top: 20px;
        }
        .write_title input,.song_url input{
            display: block;
            height: 35px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid lightgrey;
            text-indent: 5px;
        }
        .write_title input:focus{
            border:1px solid cornflowerblue;
        }
        .write_content{
            margin-top: 20px;
        }
        .song_url{
            margin-top: 20px;

        }
        button{
            width: 100px;
            height: 40px;
            background-color: cornflowerblue;
            border: 0;
            border-radius: 5px;
            color: #fff;
            line-height: 30px;
            margin-top: 20px;
            cursor: pointer;
        }

        button:hover{
            box-shadow: 0 0 9px cornflowerblue;
        }
    </style>
{/block}
{block name="js"}
    <script>
        $(function(){
            var E = window.wangEditor;
            var editor = new E('.write_content')
            editor.create()

            $('button').click(function(){
                var title = $('.write_title input').val();
                var content = editor.txt.html();
                console.log(content);
                var song_url = $('.song_url input').val();
                if($('.show').is(":checked")){
                    var is_show = 0;
                }
                else{
                    var is_show = 1;
                }

                var data = $('.url_val').val();

                $.ajax({
                    url:"{:url('index/home/write',['id'=>input('id')])}",
                    type:"post",
                    data:{title:title,content:content,song_url:song_url,is_show:is_show},
                    dataType:'json',
                    success:function(data){
                        if(data.code==1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url;
                            })
                        }else {
                            layer.open({
                                title:"添加日记失败",
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }
                    }
                });
            });
        })


    </script>
{/block}
{block name="content"}
<div class="write_con">
    <div class="write_head">
        写日记
        <hr style="margin-top: 0;">
    </div>

    <div class="write_title">
        <input type="text" placeholder="写个标题吧...">
    </div>

    <div class="write_content">

    </div>

    <div class="song_url">
        <input type="text" placeholder="网易云歌曲外连接...">
    </div>

    <div style="margin-top: 20px;font-size: 16px;">
        <input class='show' type="checkbox" > 仅自己可见<br>

    </div>

    <button >提交</button>


</div>
{/block}