{extend name="public/base" /}
{block name="title"}
    后台管理|用户添加
{/block}
{block name="js"}
    <script>
        $(function(){
            $('#save').click(function () {
                var username = $('#username').val();
                var password =$('#password').val();
                var conpass =$('#conpass').val();
                var signature = $('#signature').val();
                var email = $('#email').val();
                var sex = $('#sex').val();
                var is_active = $('#is_active').is(':checked');
                if(is_active == true){
                    is_active = 1;
                }else {
                    is_active = 0;
                }
                $.ajax({
                    url:"{:url('admin/index/ausers')}",
                    type:'post',
                    data:{username:username,signature:signature,sex:sex,email:email,is_active:is_active,password:password,conpass:conpass},
                    dataType:'json',
                    success:function (data) {
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url;
                            })
                        }else{
                            layer.open({
                                title:"添加用户失败！",
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }

                    }
                });



                return false;
            });
        })

    </script>
{/block}
{block name="style"}
    <style>
        html,body{
            height:100%;
            /* background-color: #393D49; */
        }
        input{
            display: inline-block;
            height:25px;
            width: 180px;
            border-radius: 5px;
            border:0;
            text-indent: 10px;
            margin-left: 150px;
        }

        .con{
            display: flex;
            background-color: #393D49;
            height: 100%;
            margin-top: 5px;

        }
        .con_left{
            width:230px;
            border-right: 1px solid #fff;

        }
        .con_right{
            width: calc(100% - 230px);
        }
        .nbar{
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #CDC0B0;
        }


        .set{
            padding:10px;
        }

    </style>
{/block}
{block name="content"}
    <div class="con_right">
        <div class="nbar">
            <span class="layui-icon layui-icon-home" style="font-size: 13px;display: inline-block;width: 180px;text-indent: 10px;color: #fff;"><a href="" style="color: #fff;"> 我的主页 / 添加用户</a></span>
        </div>
        <div>

            <div class="set">
                <div style="height: 50px;line-height: 50px;color: #fff;font-size: 18px">
                    添加用户
                </div>
                <hr>
                <div style="padding: 50px">
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">Username：</span>
                        <input type="text" value="" id="username">
                    </div>
                    <hr>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">Password：</span>
                        <input type="text" value="" id="password">
                    </div>
                    <hr>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">Conpass(确认密码)：</span>
                        <input type="text" value="" id="conpass">
                    </div>
                    <hr>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">email：</span>
                        <input type="text" value="" id="email">
                    </div>
                    <hr>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">Sex：</span>
                        <span style="margin-left: 150px;">
                            <select id="sex" lay-verify="" style="height: 30px">
                                <option value="1" >男</option>
                                <option value="0" >女</option>
                                <option value="2" >保密</option>
                            </select>
                        </span>
                    </div>
                    <hr>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">Signature：</span>
                        <textarea name="" id="signature" cols="30" rows="6" style="margin-left: 150px"></textarea>
                    </div>
                    <hr>

                    <div style="color: #fff;position: relative">
                        <span>Is_active：</span>
                        <input type="checkbox" id="is_active" style="margin-left: 85px;width: 20px" >
                    </div>
                    <hr>
                </div>
                <div style="text-align: right;margin-right: 50px;margin-top: -30px">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="save">保存</button>
                </div>
            </div>
        </div>

    </div>
{/block}
