{extend name="public/base" /}
{block name="title"}
后台管理|管理员信息修改
{/block}
{block name="js"}
<script>
    $(function(){
        $('#save').click(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var is_super = $('#is_super').is(':checked');
            if(is_super == true){
                is_super = 1;
            }else {
                is_super = 0;
            }
            $.ajax({
                url:"{:url('admin/index/cadusers',['uid'=>$user.id])}",
                type:'post',
                data:{username:username,password:password,is_super:is_super},
                dataType:'json',
                success:function (data) {
                    if(data.code == 1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:2000
                        },function () {
                            location.href = data.url;
                        })
                    }else{
                        layer.open({
                            title:"修改管理员信息失败！",
                            content:data.msg,
                            icon:5,
                            anim:6
                        });
                    }

                }
            });

            return false;
        });

        $('#del').click(function () {
            layer.confirm('您确定要删除吗?',{btn: ['确定', '取消'],title:"提示"}, function(){
                $.ajax({
                    type: "post",
                    url: "{:url('admin/index/dadusers',['uid'=>$user.id])}",
                    dataType: "json",
                    success:function(data) {
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url;
                            });
                        }else{
                            layer.open({
                                title:"删除失败！",
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }
                    }
                });
            });
            return false;
        });
    })

</script>
{/block}
{block name="style"}
<style>
    html,body{
        height:100%;
        /* background-color: #393D49; */
    }
    input{
        display: inline-block;
        height:25px;
        width: 180px;
        border-radius: 5px;
        border:0;
        text-indent: 10px;
        margin-left: 150px;
    }

    .con{
        display: flex;
        background-color: #393D49;
        height: 110%;
        margin-top: 5px;

    }
    .con_left{
        width:230px;
        border-right: 1px solid #fff;

    }
    .con_right{
        width: calc(100% - 230px);
    }
    .nbar{
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #CDC0B0;
    }


    .set{
        padding:10px;
    }

</style>
{/block}
{block name="content"}
<div class="con_right">
    <div class="nbar">
        <span class="layui-icon layui-icon-home" style="font-size: 13px;display: inline-block;width: 200px;text-indent: 10px;color: #fff;"><a href="" style="color: #fff;"> 我的主页 / 修改管理员信息</a></span>
    </div>
    <div>

        <div class="set">
            <div style="height: 50px;line-height: 50px;color: #fff;font-size: 18px">
                修改管理员信息
            </div>
            <hr>
            <div style="padding: 50px">
                <div style="color: #fff;position: relative">
                    <span style="position: absolute;top: 0;left: 0">Username：</span>
                    <input type="text" value="{$user.username}" id="username">
                </div>
                <hr>
                <div style="color: #fff;position: relative">
                    <span style="position: absolute;top: 0;left: 0">Password：</span>
                    <input type="text" value="{$user.password}" id="password" >
                </div>
                <hr>
                <div style="color: #fff;position: relative">
                    <span>Is_super：</span>
                    <input type="checkbox" id="is_super" style="margin-left: 85px;width: 20px" {if $user.is_super == 1}checked{/if}>
                </div>
                <hr>
            </div>
            <div style="text-align: right;margin-right: 120px;margin-top: -30px">
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="save">保存</button>
            </div>
            <div style="text-align: right;margin-right: 50px;margin-top: -38px">
                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" id="del">删除</button>
            </div>
        </div>
    </div>

</div>
{/block}

