{extend name="public/base" /}

{block name="title"}
    密码修改
{/block}
{block name="js"}
    <script>
        $(function(){
            $('#save').click(function () {
                var password = $('#password').val();
                var conpass = $('#conpass').val();

                $.ajax({
                    url:"{:url('admin/index/cpassword',['uid'=>input('uid')])}",
                    type:'post',
                    data:{password:password,conpass:conpass},
                    dataType:'json',
                    success:function (data) {
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url;
                            })
                        }else{
                            layer.open({
                                title:"修改用户密码失败！",
                                content:data.msg,
                                icon:5,
                                anim:6
                            });
                        }

                    }
                });
                return false;
            });
        })

    </script>
{/block}
{block name="style"}
    <style>
        html,body{
            height:100%;
            /* background-color: #393D49; */
        }
        input{
            display: inline-block;
            height:25px;
            width: 180px;
            border-radius: 5px;
            border:0;
            text-indent: 10px;
            margin-left: 150px;
        }

        .con{
            display: flex;
            background-color: #393D49;
            height: 110%;
            margin-top: 5px;

        }
        .con_left{
            width:230px;
            border-right: 1px solid #fff;

        }
        .con_right{
            width: calc(100% - 230px);
        }
        .nbar{
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #CDC0B0;
        }
        .set{
            padding:10px;
        }

    </style>
{/block}

{block name="content"}
    <div class="con_right">
        <div class="nbar">
            <span class="layui-icon layui-icon-home" style="font-size: 13px;display: inline-block;width: 180px;text-indent: 10px;color: #fff;"><a href="" style="color: #fff;"> 我的主页 / 修改用户密码</a></span>
        </div>
        <div>

            <div class="set">
                <div style="height: 50px;line-height: 50px;color: #fff;font-size: 18px">
                    修改用户密码
                </div>
                <hr>
                <div style="padding: 50px">
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">新密码：</span>
                        <input type="text" value="" id="password">
                    </div>
                    <br>
                    <div style="color: #fff;position: relative">
                        <span style="position: absolute;top: 0;left: 0">确认密码：</span>
                        <input type="text" value="" id="conpass">
                    </div>
                </div>
                <div style="margin-left: 320px;margin-top: -30px">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="save">保存</button>
                </div>
            </div>
        </div>

    </div>
{/block}
