{extend name="public/base" /}
{block name="title"}
    后台首页
{/block}
{block name="js"}
<script>
    $(function () {
        setInterval("gettime()",1000);
    });
    function gettime() {
        var date = new Date();
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        var h = date.getHours();
        var min = date.getMinutes();
        var s = date.getSeconds();
        str = y + "年" + m + "月" + d +"日" + h + "时" + min + "分" + s +"秒";
        $('#time').html(str);
    }
</script>
{/block}

{block name="style"}
    <style>
        html,body{
            height:100%;
            /* background-color: #393D49; */
        }

        .con{
            height: 100%;
        }
        .con{
            display: flex;
            background-color: #393D49;
            height: 100%;
            margin-top: 5px;
        }
        .con_left{
            width:230px;
            border-right: 1px solid #fff;

        }
        .con_right{
            width: calc(100% - 230px);


        }
        .nbar{
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #CDC0B0;
        }

        .welcome{
            height: 100px;
            padding: 10px;
        }
        .wel_info{
            height:60px;
            line-height: 60px;
            background-color: #fff;
            text-indent: 20px;
        }

        .set{
            padding:10px;

        }
    </style>
{/block}
{block name="content"}
    <div class="con_right">
        <div class="nbar">
            <span class="layui-icon layui-icon-home" style="font-size: 13px;display: inline-block;width: 90px;text-indent: 10px;color: #fff;"><a href="" style="color: #fff;"> 我的主页</a></span>
        </div>
        <div>
            <div class="welcome">
                <div class="wel_info">
                    欢迎管理员：<a href="">{$user.username}!</a> 当前时间：<span id="time"></span>
                </div>
            </div>

            <div class="set">
                <div style="background-color: #fff;padding: 10px;">
                    <div style="height: 50px;line-height: 50px;">系统信息</div>
                    <hr style="margin-top: 0;">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <td>服务器域名</td>
                            <td>{$web.domain}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>服务器IP地址</td>
                            <td>{$web.ip}</td>
                        </tr>
                        <tr>
                            <td>服务器端口</td>
                            <td>{$web.port}</td>
                        </tr>
                        <tr>
                            <td>联系邮箱</td>
                            <td>{$web.email}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a href="{:url('admin/index/cindex')}"><button id="edit" type="button" style="float: right;margin-top: 10px;margin-right: 10px" class="layui-btn layui-btn-normal">编辑</button></a>
            </div>
        </div>

    </div>
{/block}
